<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>graduation</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Loginservlet</display-name>
    <servlet-name>Loginservlet</servlet-name>
    <servlet-class>manages.Loginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginservlet</servlet-name>
    <url-pattern>/Loginservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Saveservlet</display-name>
    <servlet-name>Saveservlet</servlet-name>
    <servlet-class>manages.Saveservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Saveservlet</servlet-name>
    <url-pattern>/Saveservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Createservlet</display-name>
    <servlet-name>Createservlet</servlet-name>
    <servlet-class>manages.Createservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Createservlet</servlet-name>
    <url-pattern>/Createservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeAddservlet</display-name>
    <servlet-name>ChangeAddservlet</servlet-name>
    <servlet-class>equipment.ChangeAddservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeAddservlet</servlet-name>
    <url-pattern>/ChangeAddservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addservlet</display-name>
    <servlet-name>Addservlet</servlet-name>
    <servlet-class>equipment.Addservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addservlet</servlet-name>
    <url-pattern>/Addservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deleteservlet</display-name>
    <servlet-name>Deleteservlet</servlet-name>
    <servlet-class>equipment.Deleteservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deleteservlet</servlet-name>
    <url-pattern>/Deleteservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Returnservlet</display-name>
    <servlet-name>Returnservlet</servlet-name>
    <servlet-class>equipment.Returnservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Returnservlet</servlet-name>
    <url-pattern>/Returnservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loanservlet</display-name>
    <servlet-name>Loanservlet</servlet-name>
    <servlet-class>equipment.Loanservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loanservlet</servlet-name>
    <url-pattern>/Loanservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>manages.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  
</web-app>